DATABASE_URL="you_db_url"

JWT_SECRET_KEY=change-me
JWT_ALGORITHM=HS256

REDIS_URL=redis://redis:6379/0

MAIL_USERNAME=your-smtp-username
MAIL_PASSWORD=your-smtp-password
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_FROM=your-email@example.com
MAIL_FROM_NAME=IncidentHub
MAIL_STARTTLS=true
MAIL_SSL_TLS=false
USE_CREDENTIALS=true
VALIDATE_CERTS=true

DOMAIN=localhost:8000

POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=incidenthub

CORS_ORIGINS=["http://localhost:3000"]
TRUSTED_HOSTS=["localhost","127.0.0.1","0.0.0.0"]
COOKIE_SECURE=false
